<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lonton.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.lonton.vo.User">
    <id column="USER_ID" jdbcType="VARCHAR" property="userId" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="LOGIN_NAME" jdbcType="VARCHAR" property="loginName" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="BIRTHDAY" jdbcType="VARCHAR" property="birthday" />
    <result column="SEX" jdbcType="VARCHAR" property="sex" />
    <result column="PHONE" jdbcType="VARCHAR" property="phone" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="ADDRESS" jdbcType="VARCHAR" property="address" />
    <result column="UPDATE_USER" jdbcType="VARCHAR" property="updateUser" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
    
  <sql id="Base_Column_List">
    USER_ID, USER_NAME, LOGIN_NAME, PASSWORD, STATUS, BIRTHDAY, SEX, PHONE, EMAIL, ADDRESS, 
    UPDATE_USER, UPDATE_TIME
  </sql>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from smartai_user
    where USER_ID = #{userId,jdbcType=VARCHAR}
  </select>
  <select id="selectSelective" parameterType="com.lonton.vo.User" resultType="com.lonton.vo.User">
    select 
    <include refid="Base_Column_List" />
    from smartai_user
    <where>
       <if test="loginName != null">
        and LOGIN_NAME = #{loginName,jdbcType=VARCHAR}
      </if>
      <if test="userName != null">
        and USER_NAME = #{userName,jdbcType=VARCHAR}
      </if>
      <if test="password != null">
        and PASSWORD = #{password,jdbcType=VARCHAR}
      </if>
      <if test="status != null">
        and STATUS = #{status,jdbcType=VARCHAR}
      </if>
    </where>  
  </select>   
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from smartai_user
    where USER_ID = #{userId,jdbcType=VARCHAR}
  </delete>
  
  <update id="deleteUsers" >
    UPDATE smartai_user SET 
       STATUS=#{user.status},UPDATE_TIME=#{user.updateTime},UPDATE_USER=#{user.updateUser}
    WHERE USER_ID IN
   <foreach collection="list" item="item" open="(" close=")" separator=",">
     #{item}
   </foreach>
</update>
  <select id="getCountByName" resultType="int">
       SELECT COUNT(1) FROM SMARTAI_USER WHERE LOGIN_NAME = #{loginName}
  </select>
 
  <insert id="insert" parameterType="com.lonton.vo.User">
    insert into smartai_user (USER_ID, USER_NAME, LOGIN_NAME, 
      PASSWORD, STATUS, BIRTHDAY, 
      SEX, PHONE, EMAIL, 
      ADDRESS, UPDATE_USER, UPDATE_TIME
      )
    values (#{userId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{loginName,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{birthday,jdbcType=VARCHAR}, 
      #{sex,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{updateUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lonton.vo.User">
    insert into smartai_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="userName != null">
        USER_NAME,
      </if>
      <if test="loginName != null">
        LOGIN_NAME,
      </if>
      <if test="password != null">
        PASSWORD,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="birthday != null">
        BIRTHDAY,
      </if>
      <if test="sex != null">
        SEX,
      </if>
      <if test="phone != null">
        PHONE,
      </if>
      <if test="email != null">
        EMAIL,
      </if>
      <if test="address != null">
        ADDRESS,
      </if>
      <if test="updateUser != null">
        UPDATE_USER,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="loginName != null">
        #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
   
  <update id="updateByPrimaryKeySelective" parameterType="com.lonton.vo.User">
    update smartai_user
    <set>
      <if test="userName != null">
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="loginName != null">
        LOGIN_NAME = #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        BIRTHDAY = #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        SEX = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null">
        UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where LOGIN_NAME = #{loginName,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lonton.vo.User">
    update smartai_user
    set USER_NAME = #{userName,jdbcType=VARCHAR},
      LOGIN_NAME = #{loginName,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      BIRTHDAY = #{birthday,jdbcType=VARCHAR},
      SEX = #{sex,jdbcType=VARCHAR},
      PHONE = #{phone,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where USER_ID = #{userId,jdbcType=VARCHAR}
  </update>
</mapper>